@code {
	[Parameter]
	public Models.ExtendedMicroServiceInfo ServiceInfo { get; set; } = default!;

	[Parameter]
	public EventCallback OnStopService { get; set; } = default!;

	[Parameter]
	public EventCallback OnRecycleService { get; set; } = default!;
}
@if (ServiceInfo.UIDisplayMore)
{
	<table class="table table-borderless">
		<tbody>
			<tr>
				<td class="w-25">Environment</td>
				<td class="w-75"><b>@ServiceInfo.EnvironmentName</b></td>
			</tr>
			<tr>
				<td class="w-25">ProcessId</td>
				<td class="w-75"><b>@ServiceInfo.ProcessId</b></td>
			</tr>
			<tr>
				<td class="w-25">Thread Count</td>
				<td class="w-75"><b>@ServiceInfo.ThreadCount</b></td>
			</tr>
			<tr>
				<td class="w-25">WorkingSet</td>
				<td class="w-75"><b>@string.Format("{0:###,###,###}K", ServiceInfo.WorkingSet / 1024)</b></td>
			</tr>
			<tr>
				<td class="w-25">Started Date</td>
				<td class="w-75"><b>@ServiceInfo.StartedDate</b></td>
			</tr>
			<tr>
				<td class="w-25">Last Update</td>
				<td class="w-75"><b>@ServiceInfo.LastHitDate</b></td>
			</tr>
			<tr>
				<td class="w-25">Last WriteTime</td>
				<td class="w-75"><b>@ServiceInfo.LastWriteTime</b></td>
			</tr>
			<tr>
				<td class="w-25">Location</td>
				<td class="w-75" style="word-wrap: break-word"><b>@ServiceInfo.Location</b></td>
			</tr>
			<tr>
				<td class="w-25">Command Line</td>
				<td class="w-75" style="word-wrap: break-word"><b>@ServiceInfo.CommandLine</b></td>
			</tr>
			<tr>
				<td class="w-25">User Interractive</td>
				<td class="w-75" style="word-wrap: break-word"><b>@ServiceInfo.UserInteractive</b></td>
			</tr>
		</tbody>
	</table>
}
<div>
	<ActionButton type="button" ButtonType="btn-danger" @onclick="OnStopService">Stop</ActionButton>
	<ActionButton type="button" ButtonType="btn-warning" @onclick="OnRecycleService">Recycle</ActionButton>
	<button class="btn btn-secondary" @onclick="(() => ServiceInfo.UIDisplayMore = !ServiceInfo.UIDisplayMore)">Infos</button>
</div>