@code {
	[Parameter]
	public Models.ExtendedMicroServiceInfo ServiceInfo { get; set; } = default!;

	[Parameter]
	public EventCallback OnStopService { get; set; } = default!;

	[Parameter]
	public EventCallback OnRecycleService { get; set; } = default!;
}

<div>Environment : @ServiceInfo.EnvironmentName</div>
<div>ProcessId : @ServiceInfo.ProcessId</div>
<div>Version : @ServiceInfo.Version</div>
<div>ThreadCount : @ServiceInfo.ThreadCount</div>
<div>WorkingSet : @string.Format("{0:###,###,###}K", ServiceInfo.WorkingSet / 1024)</div>
<div>Started : @ServiceInfo.StartedDate</div>
<div>Last Update : @ServiceInfo.LastHitDate</div>
<div>Last WriteTime : @ServiceInfo.LastWriteTime</div>
<div>
	<button type="button" class="btn btn-danger" @onclick="OnStopService">Stop</button>
	<button type="button" class="btn btn-warning" @onclick="OnRecycleService">Recycle</button>
</div>