@code {
	[Parameter]
	public Models.ExtendedMicroServiceInfo ServiceInfo { get; set; } = default!;
}
<div class="row">
	<div class="col-2">
		<button class="btn btn-secondary btn-sm" @onclick="(() => ServiceInfo.UIDisplayMore = !ServiceInfo.UIDisplayMore)">
			@string.Format("{0}", ServiceInfo.UIDisplayMore ? "-" : "+")
		</button>
	</div>
	<div class="col-10">
		<table class="table table-borderless table-sm m-0 p-0">
			<tbody>
				<tr>
					<td class="w-25 ">
						State
					</td>
					<td class="w-75">
						<b>@ServiceInfo.ServiceState</b>
						<small>@ServiceInfo.Log</small>
						<span class="text-danger">@ServiceInfo.FailReason</span>
					</td>
				</tr>
				<tr>
					<td class="w-25">Version</td>
					<td class="w-75">
						@ServiceInfo.Version
					</td>
				</tr>
				@if (ServiceInfo.UIDisplayMore)
				{
					<tr>
						<td class="w-25">Environment</td>
						<td class="w-75"><b>@ServiceInfo.EnvironmentName</b></td>
					</tr>
					<tr>
						<td class="w-25">ProcessId</td>
						<td class="w-75"><b>@ServiceInfo.ProcessId</b></td>
					</tr>
					<tr>
						<td class="w-25">Thread Count</td>
						<td class="w-75"><b>@ServiceInfo.ThreadCount</b></td>
					</tr>
					<tr>
						<td class="w-25">WorkingSet</td>
						<td class="w-75"><b>@string.Format("{0:###,###,###}K", ServiceInfo.WorkingSet / 1024)</b></td>
					</tr>
					<tr>
						<td class="w-25">Started Date</td>
						<td class="w-75"><b>@ServiceInfo.StartedDate</b></td>
					</tr>
					<tr>
						<td class="w-25">Last Update</td>
						<td class="w-75"><b>@ServiceInfo.LastHitDate</b></td>
					</tr>
					<tr>
						<td class="w-25">Last WriteTime</td>
						<td class="w-75"><b>@ServiceInfo.LastWriteTime</b></td>
					</tr>
					<tr>
						<td class="w-25">Command Line</td>
						<td class="w-75" style="word-wrap: break-word"><b>dotnet @ServiceInfo.CommandLine</b></td>
					</tr>
					<tr>
						<td class="w-25">User Interractive</td>
						<td class="w-75" style="word-wrap: break-word"><b>@ServiceInfo.UserInteractive</b></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

