<table class="table table-sm table-borderless">
	<thead>
		<tr>
			<th colspan="2">
				@HostInfo.HostName
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="col-25">State</td>
			<td class="col-75">@HostInfo.HostState</td>
		</tr>
		<tr>
			<td>Version</td>
			<td>@HostInfo.Version</td>
		</tr>
		@if (HostInfo.UIDisplayMore)
		{
			<tr>
				<td>Operating System</td>
				<td>@HostInfo.OsVersion</td>
			</tr>
			<tr>
				<td>Start Date</td>
				<td>@HostInfo.CreationDate</td>
			</tr>
			<tr>
				<td>Last Update</td>
				<td>@HostInfo.LastHitDate</td>
			</tr>
			<tr>
				<td>Machine Name</td>
				<td>@HostInfo.</td>
			</tr>
			<tr>
				<td>External Ip</td>
				<td>@HostInfo.ExternalIp</td>
			</tr>
			<tr>
				<td>Main FileName</td>
				<td>@HostInfo.MainFileName</td>
			</tr>
			<tr>
				<td>Available Disk space</td>
				<td><FileSizeLabel FileSize="HostInfo.TotalFreeSpaceOfDriveSize" /></td>
			</tr>
			<tr>
				<td>Process Id</td>
				<td>@HostInfo.ProcessId</td>
			</tr>
		}
	</tbody>
</table>

<button class="btn btn-secondary" @onclick="(() => HostInfo.UIDisplayMore = !HostInfo.UIDisplayMore)">Infos</button>

@code {
	[Parameter]
	public Models.HostInfo HostInfo { get; set; } = default!;
}
