@code {
	[Parameter]
	public Palace.Server.Models.HostInfo HostInfo { get; set; } = default!;

	bool UIDisplayMore = false;
}
@{
	var danger = HostInfo.HostState == HostState.Down ? "table-danger" : "";
}
<div class="row">
	<div class="col-2">
		<button class="btn btn-secondary btn-sm" @onclick="(() => UIDisplayMore = !UIDisplayMore)">
			@string.Format("{0}", UIDisplayMore ? "-" : "+")
		</button>
	</div>
	<div class="col-10">
		<table class="table table-sm table-borderless m-0 p-0 @danger">
			<thead>
				<tr>
					<th colspan="2">
						@HostInfo.HostName
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="col-25">State</td>
					<td class="col-75">@HostInfo.HostState</td>
				</tr>
				<tr>
					<td>Version</td>
					<td>@HostInfo.Version</td>
				</tr>
				@if (UIDisplayMore)
				{
					<tr>
						<td>Operating System</td>
						<td>@HostInfo.OsVersion</td>
					</tr>
					<tr>
						<td>Start Date</td>
						<td>@HostInfo.CreationDate</td>
					</tr>
					<tr>
						<td>Last Update</td>
						<td>@HostInfo.LastHitDate</td>
					</tr>
					<tr>
						<td>Machine Name</td>
						<td>@HostInfo.MachineName</td>
					</tr>
					<tr>
						<td>External Ip</td>
						<td>@HostInfo.ExternalIp</td>
					</tr>
					<tr>
						<td>Main FileName</td>
						<td>@HostInfo.MainFileName</td>
					</tr>
					<tr>
						<td>Available Disk space</td>
						<td><FileSizeLabel FileSize="HostInfo.TotalFreeSpaceOfDriveSize" /></td>
					</tr>
					<tr>
						<td>Process Id</td>
						<td>@HostInfo.ProcessId</td>
					</tr>
				}
			</tbody>
		</table>

	</div>
</div>